# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.dll

# Node.js
node_modules/
build/
dist/

# VS Code
.vscode/

# PostgreSQL
*.db

# Keep all environment files
# .env files are now tracked
