# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.dll

# Node.js
node_modules/
build/
dist/

# VS Code
.vscode/

# PostgreSQL
*.db

# Environment Files
# Root directory env files
/.env
/password.env
/secrets.env

# Project specific env files
/raynet_saas_optimization/frontend/.env
/raynet_saas_optimization/backend/.env
/raynet_saas_optimization/backend/password.env

# All env files in any directory
**/.env
**/*.env
