/* src/components/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #282c34;
    height: 60px;
}

.logo {
    color: #61dafb;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.link:hover {
    color: #61dafb;
}
